<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello beautiful node!</h1>
    <ul>
        <% quotes.forEach(function(quote) { %>
          <li class="<%= quote.category %>">
            <strong><%= quote.name %></strong>
            said: <%= quote.quote %>
          </li>
        <% }); %>
      </ul>
</body>
</html>